<div class="textbody about">
	<div class="abouttext">
		<h1>About us.</h1>
		<p>We are the best shop for bikes located right in central Berlin.<br>For more than a decade we have been selling used bikes in Berlin - we hope that many more years are to come!<br>For any inquiries, <a href="contact">contact us</a> or visit our shop!</p>
		<p>Except for Sundays, we are open daily from 8 am to 8 pm. At the moment, it is <%= Time.now %>.</p>
	</div>
	<div class="minigame abouttext">
		<h1>Bored?</h1>
		<p>By clicking <a href="https://www.dropbox.com/s/ct0hq8vn0v7c3a0/rps.rb?dl=1" target="download">here</a> you can download a Rock, Paper and Scissors minigame, which you can play in your terminal! <br>In the FAQ below you can find further instructions. Please make sure that you have Ruby installed on your computer.
		<br>
		<button data-toggle="collapse" data-target="#gamefaq">FAQ.</button>

		<div id="gamefaq" class="collapse">
			<ol>
				<li>Download the file by clicking on the link above.</li>
				<li>Drag the file on your desktop or into some folder.</li>
				<li>If you are using a Mac open your Terminal. In case you are using windows, open the start menu, search for "cmd" and hit enter.</li>
				<li>Use the command "cd" followed by the directory in which you placed the file.</li>
				<li>Finally, type "ruby rps.rb" into your terminal to launch the game!</li>
				<li>Have fun!</li>
			</ol>
		</div></p>
		
	</div>
</div>