<div class="contact">
	<div class="textbody">
		<h1>Contact us</h1>
		<h2>Reach us via mail or by phone:</h2>
		<p>usedbikeshop@berlin.de</p>
		<p>03012345</p>
		<h3>We are looking forward to hearing from you!</h3>
		<p class="adress">Feel free to stop by and check out our store at:</p>
		<p>Kurfürstendamm 188<br>Berlin 10707<br>Germany</p>
	</div>
</div>