<div class="container-fluid">
	<div class="textbody index">
		<h1>Welcome to Bike Berlin!</h1>
		<h2>Your source for the best used bikes in Berlin.</h2>
		<h3>Below, you can find a collection of some of our bikes. Visit our store to find many more and try them out!</h3>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12"><img src="/assets/racebike_min.jpg" class="img-responsive"></div><!-- /col -->
			<div class="col-md-4 col-sm-6 col-xs-12"><img src="/assets/bike2_min.jpg" class="img-responsive"></div><!-- /col -->
			<div class="col-md-4 col-sm-6 col-xs-12"><img src="/assets/bike3_min.jpg" class="img-responsive"></div><!-- /col -->
			<div class="col-md-4 emptycol"></div>
			<div class="col-md-4 col-sm-6 col-xs-12"><img src="/assets/bike4_min.jpg" class="img-responsive"></div><!-- /col -->
			<div class="col-md-4 col-sm-6 col-xs-12"><img src="/assets/bike5_min.jpg" class="img-responsive"></div><!-- /col -->
			<div class="col-md-4 col-sm-6 col-xs-12"><img src="/assets/bike6_min.jpg" class="img-responsive"></div><!-- /col -->
		</div><!-- /row -->
	</div>
</div>